body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
    color: #535353;
}

.img-fluid {
    max-width: 100% !important;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #535353;
}

a {
    color: #37404d;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #535353;
}

.form-control:focus {
    box-shadow: none;
}

p {
    font-size: 14px;
    line-height: 26px;
    color: #535353;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #37404d;
    font-family: 'Oswald', sans-serif;
}

.heading-2 {
    margin-bottom: 30px;
}

.heading-2 h4 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
}

.bordered-right {
    border-right: 1px solid rgba(22, 24, 27, .12);
}

.col-pad {
    padding: 0 0;
}

.col-pad-30 {
    padding: 0 30px;
}

.pad-minus-lr-15 {
    padding-top: 50px;
}

.mrg-btm-10 {
    margin-bottom: 10px;
}

.cmn-mrg-btm {
    margin-bottom: 60px;
}

.mrg-btm-40 {
    margin-bottom: 40px;
}

.mrg-l-20 {
    margin-left: 20px;
}

.mrg-r-20 {
    margin-right: 20px;
}

.hidden {
    display: none;
}

.form-inline .btn,
.form-inline .btn:active {
    padding: 0 17px;
    font-size: 15px;
    background: none;
    border: solid 1px transparent;
    color: #212121;
}

.form-inline .btn-2 {
    color: #fff;
}

.form-inline .btn:hover {
    color: #ff002b;
}

.form-inline .btn:hover {
    background: none;
    border: solid 1px transparent;
}

.btn {
    font-family: 'Oswald', sans-serif;
    border-radius: 3px;
}

.btn-black {
    color: #fff;
    background-color: #3a3a3a;
    border-color: #3a3a3a;
}

.btn-black:hover {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

.delay-02s {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s
}

.delay-03s {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s
}

.delay-04s {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s
}

.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s
}

.delay-06s {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s
}

.delay-07s {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s
}

.delay-08s {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s
}

.delay-09s {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s
}

.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s
}

.delay-12s {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s
}

input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}

.form-check label, .radio label {
    min-height: 20px;
    padding-left: 30px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

.form-check label {
    display: inline-block;
    position: relative;
    padding-left: 10px;
}

.form-check label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 0px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.form-check label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkbox-theme input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-theme input[type="checkbox"]:checked + label::before {
    background-color: #ff002b;
    border-color: #ff002b;
}

.form-group .form-check {
    margin-left: 20px;
}

#page_scroller {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    cursor: pointer;
    color: #FFF;
    padding: 10px 11px;
    font-size: 12px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: #ff002b;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

/** Option Panel **/
.option-panel {
    z-index: 9999;
    width: 215px;
    position: fixed;
    right: 0;
    background: #fff;
    border: 1px solid #DDD;
    top: 20%;
    padding: 20px 15px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.option-panel-collased {
    right: -215px;
}

.option-panel h2 {
    font-size: 13px;
    margin: 0 0 0 0;
    text-align: center;
    padding: 10px 0;
    font-weight: 500;
}

.option-panel .color-plate {
    width: 24px;
    height: 24px;
    float: left;
    margin: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.default-plate {
    background: #ff002b;
}

.blue-plate {
    background: #2048bb;
}

.yellow-plate {
    background: #ffb400;
}

.green-light-plate {
    background: #1abc9c;
}

.red-plate {
    background: #c31c1c;
}

.orange-plate {
    background: #F34B0A;
}

.yellow-light-plate {
    background: #eae328;
}

.green-light-2-plate {
    background: #0dcdbd;
}

.olive-plate {
    background: #b3c211;
}

.purple-plate {
    background: #8e44ad;
}

.blue-light-plate {
    background: #3c9dff;
}

.brown-plate {
    background: #A14C10;
}

.setting-button {
    background: #ff002b;
    position: absolute;
    font-size: 16px;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    left: -50px;
    color: #fff;
    top: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}

/** Option Panel **/

/** OVERVIEW BGI **/
.overview-bgi {
    position: relative;
}

.overview-bgi:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.overview .btn-border {
    color: #ff002b;
    border: solid 2px #ff002b;
    padding: 7px 12px !important;
    border-radius: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
}

.overview .btn-border:hover {
    border: solid 2px #bd0221;
    background: #bd0221;
}

/** CONTENT AREA **/
.content-area {
    padding-bottom: 70px;
}

.content-area-2 {
    padding: 100px 0 70px;
}

.content-area-3 {
    padding-bottom: 84px;
}

.content-area-4 {
    padding: 100px 0 50px;
}

.content-area-5 {
    padding-bottom: 100px;
}

.content-area-6 {
    padding-bottom: 50px;
}

.content-area-7 {
    padding: 100px 0;
}

.content-area-8 {
    padding-top: 100px;
}

.content-area-9 {
    padding: 50px 0;
}

/** BTN COLOR **/
.btn-color {
    background: #ff002b;
}

.btn-color:hover {
    background: #bd0221;
}

.btn-border {
    color: #ff002b;
    border: solid 1px #ff002b;
}

.btn-border-black {
    color: #000;
    border: solid 2px #fff;
}

.btn-border-white {
    color: #fff;
    border: solid 2px #fff;
}

.btn-border-white:hover {
    color: #fff;
    border: solid 2px #fff;
}

.btn-border:hover {
    color: #fff;
    border: solid 1px #bd0221;
    background: #bd0221;
}

.btn-black {
    background: #000;
    border: solid 2px #000;
    color: #fff;
}

/** BTN **/
.btn-sm {
    padding: 7px 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.btn-md {
    cursor: pointer;
    padding: 11px 30px;
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 3px;
}

.btn:focus, .btn:active, .btn:focus {
    box-shadow: none !important;
    outline: none;
}

/** SOCIAL MEDIA **/
.facebook:hover {
    color: #3b589e !important;
}

.twitter:hover {
    color: #56d7fe !important;
}

.linkedin:hover {
    color: #1c82ca !important;
}

.google:hover {
    color: #dc4e41 !important;
}

.rss:hover {
    color: #e78733 !important;
}

/** SOCIAL MEDIA BG **/
.facebook-bg {
    background: #4867aa;
}

.facebook-bg:hover {
    background: #3a5795;
}

.twitter-bg {
    background: #56d7fe;
}

.twitter-bg:hover {
    background: #2abced;
}

.google-bg {
    background: #dc4e41;
}

.google-bg:hover {
    background: #c83a2e;
}

.rss-bg {
    background: #e78733;
}

.rss-bg:hover {
    background: #d0782c
}

.linkedin-bg {
    background: #1c82ca;
}

.linkedin-bg:hover {
    background: #036497;
}

/** Content form box STARTED **/
.content-box {
    background: #fff;
}

.content-form-box .form-control {
    width: 100%;
    padding: 10px 20px;
    font-size: 13px;
    border: 1px solid #efefef;
    outline: 0;
    color: #6c6c6c;
    height: 42px;
    border-radius: 3px;
}

.content-form-box .form-control:focus {
    color: #495057;
    background-color: #fff;
    border: 1px solid #efefef;
    outline: 0;
    box-shadow: none;
}

.content-form-box .form-group {
    margin-bottom: 25px;
}

.content-form-box .btn {
    cursor: pointer;
    padding: 11px 20px 10px;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 600;
    text-transform: none;
    border-radius: 3px;
}

.login-header {
    font-weight: 600;
    margin: 0 0 30px;
    font-size: 22px;
    color: #515365;
}

.login-header h4 {
    font-size: 22px;
    color: #515365;
}

.login-header img {
    height: 30px;
}

.form-check {
    font-size: 13px;
}

.form-check a {
    color: #ff002b;
}

.form-check a:hover {
    color: #bd0221;
}

.content-form-box {
    padding: 0 70px;
    left: 0;
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
}

.content-form-box p {
    font-size: 13px;
    color: #80828e;
}

.form-check-label {
    font-size: 13px;
    color: #80828e;
}

.login-footer img {
    height: 20px;
}

.login-footer {
    padding: 20px;
    border-top: solid 1px #ececec;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.content-form-box.register-box .login-footer {
    width: 100%;
    position: inherit;
}

.content-form-box.register-box {

}

.content-form-box.forgot-box {
    width: 100%;
    position: inherit;
    bottom: 0;
}

.login-footer p {
    font-size: 13px;
    margin: 0;
}

.login-footer p a {
    color: #ff002b;
}

.login-footer p a:hover {
    color: #bd0221;
}

.login-info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
    max-width: 600px;
}

.login-info h3 {
    color: #fff;
}

.login-info p {
    color: #fff;
}

.register-box {
    max-width: 450px;
}

.register-info {
    position: absolute;
    top: 30%;
    left: 0;
    padding: 30px 80px;
    text-align: right;
}

.register-info img {
    height: 50px;
    margin-bottom: 40px;
}

.register-info p {
    color: #fff;
    font-size: 19px;
    line-height: 30px;
    font-weight: 300;
}

.forgot-box {
    max-width: 420px;
    border-radius: 8px;
    margin: 120px auto;
    background: #fff;
    padding: 50px;
}

.form-group label,
.checkbox label {
    font-size: 12px;
    font-weight: 500;
    color: #37404d;
}

/** MEDIA **/
@media (max-width: 992px) {
    .navbar-collapse {
        margin: 0px -15px;
        background: #FFF;
    }

    #main-header .navbar-expand-lg .navbar-nav .nav-link {
        color: #000;
    }

    .main-header .navbar-expand-lg .navbar-nav .active .nav-link {
        color: #ff002b !important;
        background: #f9f9f9;
        border-bottom: 0px;
    }

    .main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #ff002b !important;
        background: #f9f9f9;
        border-bottom: 0px;
    }

    .form-inline .btn,
    .form-inline .btn-2 {
        display: none;
    }

    .content-area {
        padding-bottom: 50px;
    }

    .content-area-2 {
        padding: 80px 0 50px;
    }

    .services-info {
        margin-bottom: 30px;
    }

    .content-area-3 {
        padding-bottom: 64px;
    }

    .content-area-4 {
        padding: 80px 0 30px;
    }

    .content-area-5 {
        padding-bottom: 80px;
    }

    .content-area-6 {
        padding-bottom: 30px;
    }

    .content-area-7 {
        padding: 80px 0;
    }

    .content-area-8 {
        padding-top: 80px;
    }

    .content-area-9 {
        padding: 30px 0;
    }

    .main-title {
        margin-bottom: 40px;
    }

    .main-title h1 {
        font-size: 35px;
    }

    .testimonial {
        padding: 60px 0 50px;
    }

    .testimonial .testimonial-inner {
        margin: 0 auto;
        max-width: 100%;
    }

    .testimonial .testimonial-inner .testimonia-header h1 {
        font-size: 30px;
    }

    .testimonial-2 .testimonial-inner .testimonia-header h1 {
        font-size: 30px;
    }

    .testimonial .testimonial-inner .lead {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 28px;
    }

    .testimonial .testimonia-header {
        margin: 0 auto 30px;
    }

    .testimonial .testimonia-header h1 {
        font-size: 30px;
    }

    .pricing.mrg-btn-60 {
        margin-bottom: 70px;
    }

    .contact-1 .contact-info .media i {
        width: 50px;
        font-size: 18px;
        height: 50px;
        line-height: 50px;
        margin-right: 20px;
    }

    .contact-1 .contact-info .media h5 {
        margin: 0 0 15px;
    }

    .services-info-2 {
        padding: 20px 10px;
        margin: 5px 0;
    }

    .services-info-2 p {
        margin-bottom: 5px;
    }

    .services-info-2 i {
        font-size: 25px;
    }

    .services-info-2 h3 {
        font-size: 13px;
    }

    .car-slider {
        margin-bottom: 40px;
    }

    .big-car img {
        margin-top: 30px;
    }

    .overview img {
        height: auto;
    }

    .services-info i {
        font-size: 30px;
        width: 50px;
    }

    .services-info h5 {
        font-size: 14px;
    }

    .blog-grid-box {
        margin-bottom: 20px;
    }

    .pricing-tables .mrg-btn-76 {
        margin-bottom: 40px;
    }

    .testimonial-2 {
        padding: 80px 0 110px;
    }

    .sidebar.mrg-l-20 {
        margin-left: 0;
    }

    .more-info {
        margin-top: 40px;
    }

    .sidebar.mrg-r-20 {
        margin-right: 0;
    }

    .car-list-fullwidth .car-box-5 .price-ratings-box {
        right: 30px;
    }

    .car-list-fullwidth .car-box-5 .detail {
        padding: 20px 40px;
    }

    .banner .banner-slider-inner h1 {
        font-size: 40px;
    }

    .banner .slider-mover-left {
        width: 35px;
        height: 35px;
        line-height: 35px;
        right: -45px;
    }

    .banner .slider-mover-left i {
        font-size: 25px;
        line-height: 35px;
    }

    .banner .slider-mover-right {
        width: 35px;
        height: 35px;
        line-height: 35px;
        right: 10px;
    }

    .banner .slider-mover-right i {
        font-size: 25px;
        line-height: 35px;
    }

    .navbar-light .navbar-toggler {
        color: #ff002b;
        border: none;
        font-size: 20px;
        font-weight: 100;
    }

    .navbar-toggler {
        padding: 0;
        width: 35px;
        height: 35px;
        font-size: 1rem;
        border-radius: 0;
        outline: none !important;
    }

    .main-header .logo img {
        height: 35px;
    }

    .main-header .navbar-expand-lg .navbar-nav .nav-link {
        padding: 18px 15px 15px;
        font-size: 13px;
        border-bottom: solid 2px transparent;
    }

    .banner .banner-slider-inner {
        padding: 20px 15px;
        top: 0%;
    }

    .banner .banner-slider-inner h1 {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .banner .banner-opt .banner-slider-inner h1 {
        font-size: 32px;
    }

    .banner .banner-opt .banner-slider-inner p {
        font-size: 14px;
    }

    .banner .banner-slider-inner p {
        color: #fff;
        line-height: 22px;
        font-size: 13px;
        margin: 0px auto;
        margin-bottom: 5px;
        max-width: 80%;
    }

    .sub-banner {
        height: auto;
    }

    .breadcrumb-area h1 {
        font-size: 35px;
    }

    .sub-banner {
        height: 400px;
    }

    .shop-info.mrg-l-20 {
        margin-left: 0;
    }

    .shop-info {
        margin-top: 40px;
    }

    .media-pad-top-50 {
        padding-top: 50px;
    }

    .register-info {
        padding: 30px 40px;
    }

    .coming-soon-inner .coming-form {
        max-width: 65%;
    }

    .content-form-box {
        padding: 0 50px;
        bottom: 120px;
    }

    .forgot-box {
        padding: 50px;
    }

    .setting-button {
        font-size: 15px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        left: -40px;
    }

    .search-area .search-fields {
        min-height: 38px;
        padding: 0 5px 0 0;
    }

    .search-area .selectBox-dropdown .selectBox-arrow:before {
        line-height: 38px;
    }

    .search-area .search-button {
        cursor: pointer;
        padding: 10px 20px 9px;
    }

    .shop-single .widget.shop-info {
        margin-bottom: 40px;
    }

    .cmn-pad-t {
        padding-top: 40px;
    }

    .sidebar-title {
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .content-area {
        padding-bottom: 30px;
    }

    .widget {
        margin-bottom: 20px;
    }

    .content-area-2 {
        padding: 60px 0 30px;
    }

    .content-area-3 {
        padding-bottom: 44px;
    }

    .content-area-4 {
        padding: 60px 0 10px;
    }

    .content-area-5 {
        padding-bottom: 60px;
    }

    .content-area-6 {
        padding-bottom: 10px;
    }

    .content-area-7 {
        padding: 60px 0;
    }

    .content-area-8 {
        padding-top: 60px;
    }

    .content-area-9 {
        padding: 10px 0;
    }

    .main-title {
        margin-bottom: 30px;
    }

    .main-title h1 {
        font-size: 30px;
    }

    .overview .big-img {
        height: auto;
    }

    .overview .mask, .overview .content {
        top: 35% !important;
    }

    #main-header {
        top: 0;
    }

    .testimonial .testimonial-inner .testimonia-header h1 {
        font-size: 30px;
    }

    .testimonial-2 .testimonial-inner .testimonia-header h1 {
        font-size: 30px;
    }

    .testimonial-2 .testimonial-inner {
        text-align: center;
    }

    .testimonial-2 .testimonia-header {
        margin: 0 auto 30px;
    }

    .testimonial-2 .avatar {
        max-width: 110px;
        margin: 0 auto 20px;
    }

    .testimonial-2 .testimonial-inner .lead {
        font-size: 15px;
        line-height: 28px;
    }

    .contact-1 .contact-info {
        margin-top: 30px;
    }

    .contact-1 .form-group {
        margin-bottom: 20px;
    }

    .contact-3 .contact-info .contact-list {
        margin: 0 0 40px;
    }

    .contact-3 .contact-info h3 {
        margin-bottom: 20px;
        font-size: 25px;
    }

    .pages-404 .pages-404-inner h1 {
        font-size: 130px;
        font-weight: 600;
    }

    .pages-404 .pages-404-inner h5 {
        font-size: 22px;
    }

    .car-box-5 .price-ratings-box {
        right: 30px;
    }

    .car-box-5 .col-pad {
        padding: 0 15px;
    }

    .car-box-5 .detail {
        padding: 20px;
    }

    .services-info-2 {
        padding: 30px 10px;
        margin: 10px 0;
    }

    .services-info-2 p {
        margin-bottom: 10px;
    }

    .services-info-2 i {
        font-size: 30px;
    }

    .services-info-2 h3 {
        font-size: 14px;
    }

    .our-services .col-pad-30 {
        padding: 30px;
    }

    .services-info-4 .btn {
        margin-bottom: 10px;
    }

    .comments ul {
        margin: 0;
    }

    .comment .comment-content {
        margin-left: 80px;
    }

    .tags-socal-box .social-list {
        float: none;
        text-align: left;
    }

    .car-box ul li {
        font-size: 13px;
    }

    .pricing-tables .mrg-btn-76 {
        margin-bottom: 30px;
    }

    .testimonial-2 {
        padding: 60px 0 90px;
    }

    .car-box-5 .tag.featured {
        left: 15px;
        margin-top: 15px;
        z-index: 20;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .car-box-5 .price-ratings-box {
        right: 15px;
    }

    .car-list-fullwidth .car-box-5 .price-ratings-box {
        right: 15px;
    }

    .car-list-fullwidth .car-box-5 .detail {
        padding: 20px 20px;
    }

    .banner .banner-slider-inner h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .banner .banner-slider-inner {
        padding: 10px 12px;
        top: 0%;
    }

    .banner .banner-slider-inner p {
        color: #fff;
        line-height: 22px;
        font-size: 13px;
        margin: 0px auto;
        margin-bottom: 5px;
        max-width: 80%;
    }

    .banner .banner-opt .banner-slider-inner h1 {
        font-size: 20px;
    }

    .banner .banner-opt .banner-slider-inner p {
        line-height: 22px;
        font-size: 14px;
        max-width: 90%;
        margin: 0px auto;
        margin-bottom: 5px;
    }

    .banner .btn-md {
        padding: 9px 15px;
        font-size: 12px;
    }

    .breadcrumb-area h1 {
        font-size: 28px;
    }

    .sub-banner .breadcrumbs li {
        font-size: 16px;
    }

    .sub-banner {
        height: 300px;
    }

    button:focus {
        outline: 0 auto -webkit-focus-ring-color;
    }

    .banner .slider-mover-right {
        width: 30px;
        height: 30px;
        line-height: 30px;
        right: 10px;
    }

    .banner .slider-mover-right i {
        font-size: 20px;
        line-height: 30px;
    }

    .banner .slider-mover-left {
        width: 30px;
        height: 30px;
        line-height: 30px;
        right: -40px;
    }

    .banner .slider-mover-left i {
        font-size: 20px;
        line-height: 30px;
    }

    .shop-single .shop-info h3 {
        font-size: 20px;
    }

    .heading-car h3 {
        font-size: 20px;
    }

    .heading-car p {
        font-size: 13px;
    }

    .coming-soon-inner .coming-form {
        max-width: 85%;
    }

    .coming-soon-inner .form-control {
        width: 100%;
        border-radius: 3px;
    }

    .coming-soon-inner .btn {
        width: 40%;
        margin: auto;
        margin-top: 10px;
        border-radius: 3px;
    }

    .coming-soon-counter div {
        font-size: 40px;
        width: 24%;
    }

    .coming-soon-counter div span {
        font-size: 12px;
    }

    .coming-soon-inner h1 {
        font-size: 30px;
    }

    .coming-soon-inner img {
        margin-bottom: 40px;
    }

    .register-box {
        margin: auto;
    }

    .content-form-box {
        position: inherit;
        left: 0;
        bottom: 40px;
        padding: 0 20px;
        margin: 100px auto 0;
        display: inherit;
        max-width: 450px;
    }

    .content-form-box.register-box {
        margin: 70px auto 0;
    }

    .login-footer {
        padding: 20px 15px;
        position: inherit;
        left: 0;
        bottom: 0;
    }

    .forgot-box {
        padding: 30px;
    }

    .forgot-box {
        margin: 60px auto;
        padding: 30px;
    }

    .blog-grid-box .date-box {
        top: 12px;
        right: 12px;
        padding: 8px;
    }

    .blog-grid-box .date-box h5 {
        font-size: 11px;
    }

    .services-text .btn {
        margin-bottom: 10px;
    }

    .Compare-car h5 {
        font-size: 17px;
        margin-bottom: 15px;
    }

    .Compare-car p i {
        font-size: 12px;
    }

    .setting-button {
        font-size: 14px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        left: -35px;
        color: #fff;
    }

    .blog-grid-box .detail {
        padding: 10px 0 30px;
    }

    .blog-grid-box .detail .post-meta {
        margin: 10px 0;
        font-size: 12px;
    }

    .tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
        padding: 9px 13px;
    }

    .tabbing-box .nav-tabs li {
        font-size: 10px;
    }

    .cmn-mrg-btm {
        margin-bottom: 40px;
    }

    .cmn-pad-t {
        padding-top: 20px;
    }

    .widget-2 {
        margin-bottom: 20px;
    }

}

@media (max-width: 500px) {
    .banner img {
        height: 270px;
    }

    .main-header .logo img {
        height: 30px;
    }

    .main-header .logo {
        padding: 12px 0;
        margin-right: 20px;
    }

    .banner .banner-slider-inner {
        padding: 10px 10px;
        top: 0%;
    }

    .banner .slider-mover-left {
        right: -32px;
    }

    .banner .slider-mover-right {
        right: -32px;
    }

    .banner .slider-mover-right {
        right: 2px;
    }

    .navbar-toggler {
        width: 30px;
        height: 30px;
    }

    .banner .btn-md {
        padding: 7px 12px;
        font-size: 10px;
    }

    .banner .banner-slider-inner .btn {
        margin: 2px 1px;
    }

    .banner .banner-slider-inner h1 {
        font-size: 24px;
    }

    .banner .banner-opt .banner-slider-inner h1 {
        font-size: 20px;
    }

    .banner .banner-opt .banner-slider-inner p {
        line-height: 22px;
        font-size: 14px;
        max-width: 90%;
        margin: 0px auto;
        margin-bottom: 5px;
    }

    .sub-banner {
        height: 270px;
    }

    .breadcrumb-area h1 {
        font-size: 24px;
    }

    .sub-banner .breadcrumbs li {
        font-size: 14px;
    }

    .sidebar {
        padding: 0;
        background: transparent;
    }

    .media-pad-top-50 {
        padding-top: 50px;
    }

    .carousel-inner img {
        width: 100%;
    }

    .widget {
        margin-bottom: 40px;
        padding: 0;
        background: transparent;
    }

    .sidebar {
        background: transparent;
    }

    .sidebar-title {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .sell-your-car {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        padding: 30px 20px;
        width: 100%;
    }

    .helping-center {
        background: rgba(0, 0, 0, 0.04) url(../img/car-27.jpg) top left repeat;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        padding: 20px;
        width: 100%;
    }
}